<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title> Sign in</title>
</head>

<body>
    <div class="zte"> <b> Z T E</b> </div>
    <div class="fondo">
        <div class="login">
            <form class="login-container">
                <h2 class="login-header">Sign in</h2>
                <p><input type="email" placeholder="Email"></p>
                <p><input type="password" placeholder="Password"></p>
                <h3 class="login-forget">Forgot password?</h3>
                <p style="padding-left: 100px; width: 220px;" ><input type="submit" value="Sign in"></p>
            </form>
        </div>
    </div>
</body>

</html>