<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../static/css/usuarios.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
 <div>
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <i class="fab fa-youtube"></i>
            <h4>Inventario</h4>
        </div>
    

        <div class="options__menu">

        <a href="#" class="selected">
            <div class="option" >
                <i class="fas fa-home" title="Inicio"></i>
                <h4>Inicio</h4>
            </div>
        </a>

        <a href="#">
            <div class="option">
                <i class="fas fa-mobile-alt" title="Productos"></i>
                <h4>Productos</h4>
            </div>
        </a>

        <a href="#">
            <div class="option">
                <i class="fas fa-dolly" title="Proveedores"></i>
                <h4>Proveedores</h4>
            </div>
        </a>
    </div>
</div>

    <main>
        <h1>titulo ejemplo</h1>
        <br> <p>todo esto es una prueba</p></br>
        <br><p>esto es otra prueba</p></br>
    </main>
    
    <script src="../static/css/funciones.js"></script>
</body>
</html>